
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
    <link rel="stylesheet" type="text/css" href="/styles/base.css">
  <link rel="stylesheet" type="text/css" href="/styles/layout.css">
  <link rel="stylesheet" type="text/css" href="/styles/modules.css">
  </head>
  <body>
    <main>
      <h2>Search Results</h2>
      <div>
      <img src="<%= Book.image %>" alt="image">
      <section>
        <h4><%= Book.booktitle %></h4>
        <h6><%= Book.authorname %></h6>
        <p><%= Book.bookdescription %></p>
      </section>
      </div>
    </main>
  </body>
</html>