
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
  </head>
  <body>
    <main>
      <h2>Search Results</h2>
      <div>
      <img src=<%= book.image %> alt="image">
      <section>
        <h4><%= book.booktitle %></h4>
        <h6><%= book.authorname %></h6>
        <p><%= book.bookdescription %></p>
      </section>
      </div>
    </main>
  </body>
</html>